body
{
    margin: auto;
    padding: 3%;

    background-color: black;
    background-image: url('/calculator/images/5.jpg');
}
.form
{
    margin: auto;
}
.container1
{
    width: 60%;
    margin: auto;
    padding: 10px;

    border: 3px solid #5e4526;
    background-image: url('/calculator/images/4.jpg');
}
.container2
{
    width: 60%;
    margin: auto;
    padding: 5px;
}
.inputs
{
    box-sizing: border-box;
    width: 30%;
    margin: 8px 8px 8px 50px;
    padding: 12px 20px;
}
.operation
{
    box-sizing: border-box;
    width: 75%;
    margin: 8px 8px 8px 50px;
    padding: 12px 20px;

    text-align: center;
}
.click
{
    box-sizing: border-box;
    width: 30%;
    margin: 8px 8px 8px 50px;
    padding: 12px 20px;
}
.result
{
    box-sizing: border-box;
    width: 75%;
    margin: 8px 8px 8px 50px;
    padding: 12px 20px;

    text-align: center;
}
.header
{
    text-align: center;

    color: white;
}
